<!DOCTYPE html>
<html lang="en">
<%- include('partials/header.ejs') %>
<body>
  <%- include('partials/navbar.ejs') %>
  
  <div>
    <%
      djsclient.money.ensure(user.id, {
        money: 0,
        stone: 250
      });
      djsclient.items.ensure(user.id, {});
    
      const sellStone = () => {
        let sts;

        let stone = djsclient.money.cache.get(user.id, 'stone');
        let money = djsclient.money.cache.get(user.id, 'money');

        djsclient.money.set(user.id, 0, 'stone');
        djsclient.money.set(user.id, money + Math.floor(stone), 'money');
      };
    %>
    
    <button onclick="<%= sellStone() %>" style="margin-top: 10px;margin-left: 21px;padding: 20px;color: #FFFFFF;background-color: #23272A;border: none;">Sell All Stone</button>
    <center>
      <h2>
        Money
      </h2>
      
      <% let money = djsclient.money.cache.get(user.id, 'money') %>
      <% let stone = djsclient.money.cache.get(user.id, 'stone') %>
      
      <p>You have<wbr> $<%= money %><br>
      and <%= stone %><wbr> stone!</p>
      
      <h2>
        Items
      </h2>
      
      <% for (let i = 0;i < Object.keys(djsclient.items.cache.get(user.id)).length; i++) { %>
        <p><%= i + 1 %>. <%= Object.keys(djsclient.items.cache.get(user.id))[i] %></p>
      <% } %>
    </center>
  </div>
</body>
</html>