<!DOCTYPE html>
<html>

<%- include('../partials/header') %>

<body>
    <%- include('../partials/navbar') %>
    <% const entries = [
        {
          path: '/invite',
          url: 'https://tsuyo.xyz/api/invite',
          response: `{ status: 200, invite: "https://discordapp.com/oauth2/authorize?client_id=492871769485475840&scope=bot&permissions=8" }`,
          description: 'Returns the bot invite',
          method: 'GET'
        },
        {
          path: '/upvote',
          url: 'https://tsuyo.xyz/api/upvote',
          response: `{ status: 200, upvote: 'https://discordbotlist.com/bots/492871769485475840/upvote' }`,
          description: 'Returns the bot upvote link',
          method: 'GET'
        },
        {
          path: '/client_id',
          url: 'https://tsuyo.xyz/api/client_id',
          response: `{ status: 200, client_id: '492871769485475840' }`,
          description: 'Returns the bot Client ID',
          method: 'GET'
        },
        {
          path: '/server',
          url: 'https://tsuyo.xyz/api/server',
          response: `{ status: 200, server: 'https://discord.gg/3hbeQgY' }`,
          description: 'Returns the bot support server',
          method: 'GET'
        }
    ]; %>

    <div class="main-div" id="main-div">
        <center>
            <p style="font-size: 26px;">Tsuyo API Documentation</p>
        </center>
        <br>
        <table style="width:100%;">
            <tr>
                <th>
                    <p>Method</p>
                </th>
                <th>
                    <p>Path</p>
                </th>
                <th>
                    <p>Example Response</p>
                </th>
                <th>
                    <p>Description</p>
                </th>
            </tr>
            <% entries.forEach(entry => { %>
                <tr>
                    <td>
                        <p><%= entry.method %></p>
                    </td>
                    <td><a style="text-decoration: none;" href="<%= entry.url %>"><%= entry.path %></a></td>
                    <td>
                        <p style="font-size: 12px"><%= entry.response %></p>
                    </td>
                    <td>
                        <p><%= entry.description %></p>
                    </td>
                </tr>
            <% }); %>
        </table>
        <br>
    </div>
</body>

</html>
